# IFEFFIT Settings
experimental-exafs: chi-s1.chi3
target-atom: Mn
exafs-atoms: Ca, Mn, C, O, N, H
#folder-name: exafs
folder-name: exafs

# RMSD config 
x-min: 1
x-max: 11

# Various programs
feff: feff6
ifeffit: ifeffit

# VMD Settings
pdb-file: relaxed-H.pdb
#pdb-file: best_chromosome.pdb
#pdb-file: best_chromosomes/4-chromosome.pdb
#pdb-file: original.pdb
#pdb-file: minified.pdb
amber-topology-file: prmtop-sphere
namd2-path: namd2
vmd-path: vmd
